@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #4c5262;
    transition: .3s linear;
}

a:hover {
    color: #fff;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #252525;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

header .menu-side {
    width: 25%;
    height: 100%;
    padding: 0px 20px;
    background: #111727;
    box-shadow: 5px 0px 2px #090f1f;
}

header .song-side {
    width: 75%;
    height: 100%;
    background: #111b38;
    box-shadow: 5px 0px 2px #090f1f;
}

header .master-play {
    width: 100%;
    height: 10%;
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
}

header .menu-side h1 {
    font-size: 25px;
    margin: 15px 0 0 20px;
    font-weight: 500;
}

header .menu-side .playlist {
    margin: 40px 0px 0px 20px;
}

header .menu-side .playlist h4 {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3 linear;
}

header .menu-side .playlist h4:hover {
    color: #fff;
}

header .menu-side .playlist input, select {
    min-width: 90%;
    outline: none;
    border: none;
    background: none;
    color: #4c5262;
    font-size: 16px;
    padding: 5px;
    margin: auto;
}

header .menu-side .playlist select:hover {
    color: #fff;
}

header .menu-side .menu-song {
    width: 100%;
    height: 45%;
    overflow: auto;
    margin-top: 40px;
    /* box-shadow: 0px 3px 8px #090f1f; */
}

header .menu-side .menu-song::-webkit-scrollbar {
    display: none;
}

header .menu-side .menu-song li {
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3 linear;
}

header .menu-side .menu-song li:hover {
    background: rgba(105, 105, 105, .1);
}

header .menu-side .menu-song li span {
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}

header .menu-side .menu-song li h5 span{
    font-size: 15px;
    margin: 5px 0 0 15px;
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

header .menu-side .menu-song li h5 .subtitle {
    font-size: 9px;
    margin: 5px 0 0 15px;
    color: #4c5262;
}

header .menu-side .menu-song li .bi {
    position: absolute;
    right: 15px;
    font-size: 15px;
}

header .master-play {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
    position: relative;
}

header .master-play .wave {
    width: 30px;
    height: 30px;
    padding: 2px 0 5px 2px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

header .master-play .wave .wave1 {
    width: 3px;
    height: 10px;
    background-color: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: wave .5s linear infinite;
}

header .master-play .wave .wave1:nth-child(2) {
    height: 13px;
    margin-right: 3.5px;
    animation-delay: .4s;
}

header .master-play .wave .wave1:nth-child(3) {
    height: 8px;
    margin-right: 3.5px;
    animation-delay: .8s;
}

header .master-play .wave .wave1:nth-child(4) {
    height: 3px;
    margin-right: 3.5px;
    animation-delay: .8s;
}

@keyframes wave {
    0% {
        height: 10px;
    }
    50% {
        height: 15px;
    }
    100% {
        height: 10px;
    }
}

header .master-play img {
    width: 35px;
    height: 35px;
}

header .master-play h5 {
    min-width: 100px;
    max-width: 120px;
    overflow: hidden;
}

header .master-play h5::-webkit-scrollbar {
    display: none;
}

header .master-play h5 #titulo-wave{
    min-width: 100px;
    margin-left: 15px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}

header .master-play h5 .subtitle {
    width: 100%;
    color: #4c5262;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 11px;
    margin-left: 15px;
    padding: 2px;
}

header .master-play .icon {
    font-size: 40px;
    outline: none;
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
}

header .master-play .icon .bi {
    cursor: pointer;
    outline: none;
}

header .song-side nav {
    width: 90%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song-side nav ul {
    display: flex;
}

header .song-side nav ul li {
    list-style: none;
    position: relative;
    font-size: 16px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
}

header .song-side nav ul li:hover {
    color: #fff;
}

header .song-side nav .search {
    position: relative;
    width: 30%;
    padding: 1px 10px;
    border-radius: 20px;

}

header .song-side nav .search:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184, 184, 184, .1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
    z-index: -1;
}

header .song-side nav .search.bi {
    font-size: 16px;
    padding: 3px 0px 0px 10px;
}

header .song-side nav .search input {
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    color: #fff;
    font-size: 16;
}

header .song-side .content {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1.5rem;
    max-height: 88vh;
    overflow: auto;
}

header .song-side .content::-webkit-scrollbar  {
    display: none;
}

.carta {
    width: 20vh;
    border-radius: 10px;
    cursor: pointer;
}

.Portada-Novel {
    width: 20vh;
    height: 27vh;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.Portada-Novel:hover {
    transform: translatey(-1vh);
    box-shadow: 0 8px 8px 0 rgba(95, 94, 185, 0.3), 0 6px 20px 0 rgba(95, 94, 185, 0.29);
    transition: all .5s ease-in-out .1s;
}

.Portada-Novel:not( :hover) {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translatey(0vh);
    transition: all .5s ease-in-out;
}

.Titulo-Novel {
    text-align: center;
    padding: 0.5rem;
    margin-top: 5px;
}